<h1>Enter a number to triple</h1>

<%= simple_form_for :number, :url => url_for(:action => 'calc', :controller => 'triples') do |f| %>
		<%= f.input :value, as: :float %>
		<%= f.button :submit %>
<% end %>
